* {
    font-family: Roboto;
}
body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}
header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
.row {
    margin: 0;
}
.container-fluid {
    padding: 0;
}
.btn-primary {
    background-color: #F2AC40;
    border: 2px solid #C28008;
}
.btn-primary:hover {
    background-color: #C28008;
    border-color: #C28008;
}
/* MSG */
.msg {
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #c3e6cb;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}
/* NAVBAR */
#navbar img {
    width: 40px;
}
#navbar {
    justify-content: start;
    background-color: #fff;
    padding: 5px 0;
}
#navbar a {
    font-size: 14px;
    color: #757575;
}
#navbar a:hover {
    color: #f2a340;
}

/* SEARCH CONTAINER */
#search-container {
    background-color: rgba(17, 70, 7, 0.94);
    background-image: url("../img/banner-search.png");
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 60px;
    text-align: center;
}
#search-container h1 {
    color: white;
    text-shadow: 0 2px 2px #000;
    margin-bottom: 30px;
    font-weight: 900;
}
#search-container form {
    width: 50%;
    margin: 0 auto;
}
/* Events Lists */
#events-container {
    padding: 50px;
}
#events-container h2 {
    margin-bottom: 10px;
}
#events-container .subtitle {
    color: #757575;
    margin-bottom: 30px;
}
#cards-container {
    display: flex;
}
#events-container .card {
    flex: 1 1 24%;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: .5%;
}
#events-container img {
    max-height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card .card-date {
    font-size: 12px;
    color: #ccc;
}
.card .card-title {
    color: #212121;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 30px;
}
.card-participants {
    font-size: 14px;
    color: #757575;
}

footer {
    text-align: center;
    background-color: #353E48;
    color: white;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer p {
    margin: 0;
}
/* Event Create Page*/
#event-create-container {
    padding: 30px;
}
#event-create-container label {
    padding: 5px;
    font-weight: bold;
}
.form-group {
    padding: 5px;
}
#event-create-container input,
#event-create-container select,
#event-create-container textarea {
    font-size: 12px;
}